@model StudyGuide.Models.Pdfs

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Pdfs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PdfName" class="control-label"></label>
                <input asp-for="PdfName" class="form-control" />
                <span asp-validation-for="PdfName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubId" class="control-label"></label>
                <select asp-for="SubId" class ="form-control" asp-items="ViewBag.SubId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
