<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" border="4px" />
    <title>Pong</title>
    <link rel="stylesheet" href="/css/Styles.css" />
    <link rel="stylesheet" href="/lib/bootsrtap/dist/css/bootstrap.css" />
</head>
    <body>        
        <div>
            @RenderBody()
        </div>        
    </body>
</html>
